<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css"  href="../styles/style.css">
    <link rel="icon" type="image/jpeg" href="labrador.jpg">
</head>
<body>
<h1>Home Page</h1>

<h2>Welcome to Our Pets Program</h2>

<img src="labrador.jpg" class="float-right" alt="Guest" height="250" width="310">


<p>Held on April 11, National Pet Day is not only devoted to the pets we already own or have as family members
    but also to those waiting for a home. It’s a great day to do something special for the
    organizations that help find homes for orphaned animals.</p>

</body>
</html>