<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="../styles/style.css">
    <link rel="icon" type="image/jpeg" href="labrador.jpg">
</head>
<body>
<h1>Home Page</h1>

<h2>Welcome to Our Pets Program</h2>
<div class="container">
    <img src="labrador.jpg" class="float-right" alt="Guest" height="250" width="310">


    <p>Held on April 11, National Pet Day is not only devoted to the pets we already own or have as family members
        but also to those waiting for a home. It’s a great day to do something special for the
        organizations that help find homes for orphaned animals.</p>

    <a href="https://www.adoptapet.com" ><button class="btn btn-primary btn-lg" role="button" id="submit" type="submit">Adopt!</button></a>
</div>

</body>
</html>